@font-face {
  src : url("./fonts/NotoSansKR-Regular.otf");
  font-family: "NotoSans";
}

/* animation */
@keyframes zoomout {
  0%   { background-size: 105% auto; }
  20% { background-size: 100% auto; }
  100% { background-size: 100% auto; }
}

.App {
  text-align: center;
}

.logo {
  width: 72px;
  margin-left: 2px;
  margin-top: 2px;
}

/* .background {
  background-color: #f6f6f4 !important;
} */

/* public */
body {
  font-family: "NotoSans" !important;
}
h1, h2, h3, h4, h5, div, a, button {
  font-family: "NotoSans" !important;
}
.invert {
  filter: invert(1) !important;
}
.pcolor {
  color: rgb(0, 153, 255);
  font-weight: bold;
}
.underline {
  display: table;
  box-shadow: inset 0 -0.3em 0 rgba(0, 153, 255, 0.5);
}
.empty {
  color: rgb(202, 202, 202, 0.5);
}
.left {
  text-align: left;
}
.center {
  text-align: center;
}
.sub-title {
  margin-top: 14px !important;
  margin-bottom: -24px;
}
.quick-card {
  margin-top: 30px !important;
}
.google-map {
  position: relative !important;
  width: 100% !important;
  height: 100% !important;
}
.favorite-icon {
  color: rgb(245, 83, 145);
}
.user-icon {
  width: 2.1em !important;
  height: 2em !important;
  border-radius: 42% !important;
}
.map-container {
  margin-right: auto;
  margin-left: auto;
  width: 100% !important;
  height: 240px !important;
}
.ui.vertical.menu .active.item {
  background-color: rgba(100, 165, 250, 0.9) !important;
  color: #fff !important;
}

.body-segment {
  border-radius: 0px !important;
  border: none !important;
}

.app-header {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: rgb(255, 255, 255);
  border-bottom: #A291FB 1px solid;
  width: 100%;
  display: flex;
  color: #000;
  padding: 4px 10px;
  font-size: 20px;
  margin-bottom: -49px;
  transition: 0.5s;
}

.invisible {
  background-color: rgb(255, 255, 255, 0) !important;
  border-bottom: #52525200 1px solid !important;
}

.app-body {
  position: relative;
  width: 100%;
  min-height: 100%;
}

.app-footer {
  width: 100%;
  color: rgb(160, 160, 160, 0.4);
  padding: 5px 10px;
  font-size: 12px;
}

.push-background {
  color: rgba(100, 100, 100, 0.4);
  background-color: rgb(0, 0, 0, 0.4);
  transition: background-color 0.5s;
}

.menu-left {
  display: flex !important;
  align-self: center !important;
  width: 30%;
  height: 40px;
  text-align: left;
}
.menu-center {
  width: 40%;
  height: 40px;
  text-align: center;
}
.menu-right {
  width: 30%;
  z-index: 200;
  height: 40px;
  text-align: right;
  margin-left: 1em;
}

.menu-user {
  padding: 60px 0px !important;
}

.menu-language {
  position: absolute;
  padding: 0px !important;
}
.menu-language::before {
  height: 0px !important;
}

.menu-language-text {
  text-align: left;
  font-size: 12px;
  margin-left: 12px !important;
  padding: 5px 0px;
  cursor: pointer;
}
.menu-language-text:hover {
  opacity: 0.8;
}

.ui.positive.button {
  background-color: #00b5ad !important;
}

.select-btn {
  margin-bottom: 14px !important;
}

.goback-area {
  width: 100%;
  margin-top: -100px;
  text-align: left;
}

.goback-icon:hover {
  cursor: pointer;
  opacity: 0.8;
}

.ui.basic.segment {
  /* min-height: 887px; */
  padding: 0px;
  margin-bottom: 0px;
}

.ui.segment {
  border: unset;
  border-radius: unset;
}

.like-icon {
  cursor: pointer;
}

#menu-icon {
  top: 8px;
  float: right;
  width: 37.5px;
  height: 25px;
  position: relative;
  margin-left: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#menu-icon span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: rgb(0, 0, 0);
  border-radius: 4px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}
#menu-icon span:nth-child(1) {
  top: 0px;
}
#menu-icon span:nth-child(2),#menu-icon span:nth-child(3) {
  top: 10px;
}
#menu-icon span:nth-child(4) {
  top: 20px;
}

#menu-icon.open span:nth-child(1) {
  top: 10px;
  width: 0%;
  left: 50%;
}
#menu-icon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
#menu-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
#menu-icon.open span:nth-child(4) {
  top: 10px;
  width: 0%;
  left: 50%;
}
#menu-icon.open span {
  background: #fff;
  transform: background-color 0.5s;
}
::-webkit-scrollbar{
  display: none;
}

hr {
  border: 0 !important;
  height: 1px !important;
  margin-top: 38px;
  background-image: linear-gradient(to right, rgba(200, 200, 200, 0), rgba(200, 200, 200, 0.75), rgba(200, 200, 200, 0));
}

/* LoginPage */
.login-main {
  margin-top: 49px;
  min-height: calc(100vh - 81px);
  border-top: #52525210 1px solid !important;
  border-radius: 12px;
  padding-left: 30vw;
  padding-right: 30vw;
}
.login-form {
  margin-top: 0px !important;
}
.login-form-main {
  background-color: rgb(0, 0, 0, 0) !important;
}
.login-form-bottom {
  margin: 1em 0.5em !important;
}
.login-form-message {
  color: rgb(125, 125, 125);
  margin: 0px 4px;
}
.login-form-message-sp{
  color: rgb(125, 125, 125);
  margin: 0px 4px;
  font-size: 16px;
}
.login-background {
  width: 160px;
  margin-top: 14vh;
}
.ui.stacked.segment:after{
  all: unset !important;
}
/* sp */
@media only screen and (max-width: 767px) {
  .login-main {
    padding-left: 0;
    padding-right: 0;
  }
}

/* LoginPage - signup */
.signup-main {
  margin-top: 49px;
  min-height: calc(100vh - 81px);
  border-top: #52525210 1px solid !important;
  padding: 1em 2em;
  padding-left: 30vw;
  padding-right: 30vw;
}
.signup-progress {
  margin-left: auto !important;
  margin-right: auto !important;
  margin-top: -14px !important;
}
.signup-main h2 {
  text-align: center;
  padding-top: 12vh;
  padding-bottom: 14px; 
  border-bottom: 2px #000 solid;
  margin-left: auto;
  margin-right: auto;
  width: 120px;
}
.signup-main h1 {
  text-align: center;
  padding-bottom: 6vh;
  margin-top: 0vh;
  position: relative;
  font-size: 2em;
}
.signup-step1 img {
  width: 55px;
  margin-bottom: 6px;
}
.signup-step1 button {
  font-size: 22px;
  height: 160px;
  width: 160px;
  font-weight: bold;
  margin: 12px;
  border-radius: 50%;
  padding: 10px;
}
.signup-step1 button:hover {
  cursor: pointer;
  opacity: 0.8;
  transition: 0.4s;
}
.signup-step1 .step1-normal {
  background-color: #2185d0;
  color: #fff;
  border: 2px solid #2185d0;
}
.signup-step1 .step1-normal img {
  filter: invert(100%);
}
.signup-step1 .step1-staff {
  background-color: #fff;
  color: #2185d0;
  border: 2px solid #2185d0;
}
.signup-step1 .step1-staff img {
  filter: invert(46%) sepia(68%) saturate(812%) hue-rotate(170deg) brightness(84%) contrast(93%);
}
.signup-step1 i {
  padding-right: 20%;
}
.signup-login {
  width: 220px;
}

/* pc */
@media only screen and (min-width: 766px) {
  .signup-progress {
    width: 100%;
  }
}
/* sp */
@media only screen and (max-width: 767px) {
  .help-main {
    margin-left: 0;
    margin-right: 0;
  }
  .signup-main {
    padding-left: 0;
    padding-right: 0;
  }
}

/* DashboardPage */
.dashboard-main {
  margin-top: 49px !important;
  min-height: calc(100vh - 81px);
  border-top: #52525210 1px solid !important;
  display: block;
}
.dashboard-pagination-box {
  text-align: center;
}
.dashboard-pagination {
  box-shadow: none !important;
}
.dashboard-dnd li {
  float: left;
}
.dashboard-reset-btn {
  width: 100%;
  border-radius: 0.25em !important;
  color: #fff !important;
  background-color: rgb(0, 153, 255, 0.8)  !important;
  margin-bottom: 0.5em !important;
  opacity: 0.4;
}
.dashboard-reset-btn:hover {
  opacity: 1;
}
.dashboard-map-bottom {
  margin-top: 55px !important;
}
.dashboard-menu {
  float: left;
  box-shadow: none !important;
  width: 184px !important;
  min-height: calc(100vh - 83px) !important;
  margin-bottom: -10px !important;
  transition: margin-left 0.5s;
}
.dashboard-menu div.header {
  text-align: left;
  padding-left: 1em;
  color: rgb(0, 153, 255);
  border-top: rgb(0, 0, 0, 0.05) 1px solid;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  font-size: 1.1em;
}
.dashboard-menu a.item {
  text-align: left;
  color: rgb(0, 0, 0, 0.7) !important;
  padding-left: 2em !important;
  padding-top: 0.6em !important;
  padding-bottom: 0.6em !important;
  font-size: 1em !important;
}
.dashboard-menu .header-title {
  margin-top: 0.5em;
}
.dashboard-menu-dropdown {
  text-align: left;
  color: rgb(0, 0, 0, 0.7) !important;
  padding-right: 0.5em !important;
  padding-left: 2em !important;
  padding-top: 0.6em !important;
  padding-bottom: 0.6em !important;
  font-size: 1em !important;;
}
.dashboard-menu a.item:hover {
  background-color: rgba(0,0,0,.05)!important;
}
.dashboard-menu div.ui.item:hover {
  background-color: rgba(0,0,0,.05)!important;
}
.dashboard-menu.ui.vertical.menu .active.item.dropdown {
  background-color: #fff !important;
  color: #000 !important;
}
.dashboard-viewer {
  min-height: calc(100vh - 84px) !important;
  max-height: 89vh;
  text-align: left;
  overflow: auto !important;
  width: 76vw;
  margin-left: auto !important;
  margin-right: auto !important;
  margin-top: 0 !important;
  margin-bottom: -10px !important;
}
.ui.segment.dashboard-viewer {
  border: rgb(0, 0, 0, 0.1) 1px solid !important;
}
.dashboard-viewer-empty {
  margin: 1em !important;
}
.dashboard-viewer-inline {
  padding: 1em;
}
.dashboard-viewer-inline label {
  margin-bottom: 0.5em !important;
  font-size: 1.1em !important;
}
.dashboard-info-icon {
  margin-left: 0.3em !important;
}
.dashboard-info-popup {
  white-space: pre-line !important;
}
.dashboard-viewer-imgs {
  border: 1px solid rgb(0, 0, 0, 0.2);
  background-color: rgba(0, 0, 0, 0.05);
  text-align: center;
  margin-top: 14px !important;
  border-radius: 7px !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
  padding-top: 14px !important;
  padding-bottom: 7px !important;
}
.move img:hover {
  cursor: move;
  opacity: 0.8;
}
.dashboard-menu-fold {
  cursor: pointer;
  opacity: 0.3;
  text-align: center !important;
  padding: 0px !important;
  border-bottom: none !important;
}
.dashboard-viewer-email {
  margin-left: 1em;
  font-size: 0.6em;
  color: rgb(0, 0, 0, 0.3);
}
.dashboard-viewer-menu {
  margin: 7.7px 0px !important;
  padding: 13px 6px !important;
  border: 1px lightgray solid;
  border-radius: 6px;
}
.dashboard-viewer-menu div.meta {
  margin-top: 3px !important;
}
.dashboard-viewer-menu div.description {
  margin-left: 6px;
}
.dashboard-viewer-menu-img {
  width: 125px !important;
  height: 125px !important;
  filter: saturate(100%);
}
.dashboard-viewer-menu-img img {
  width: 125px !important;
  height: 125px !important;
  border-radius: 6px !important;
  border: 2px solid rgb(90, 90, 90) !important;
}
.dashboard-shopinfo-tel {
  max-width: 100px;
  margin-right: 8px;
  margin-bottom: 0.5em;
}
.dashboard-shopinfo-hours {
  max-width: 220px;
}
.dashboard-shopinfo-text {
  margin-top: 0px !important;
  margin-left: 2em !important;
  font-size: 1.1em !important;
}
.dashboard-viewer-page {
  border: none !important;
}
.dashboard-staff-search {
  max-width: 345px !important;
  margin-top: 6px !important;
  margin-bottom: -6px !important;
}
.dashboard-content-final-empty {
  margin-bottom: 8vh !important;
}
.dashboard-table-no {
  width: 3em !important;
  max-width: 3em !important;
  text-align: center !important;
}
.dashboard-table-name {
  width: 6em !important;
  max-width: 6em !important;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center !important;
}
.dashboard-table-career {
  width: 6em !important;
  max-width: 6em !important;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center !important;
}
.dashboard-table-career input {
  width: 5.5em !important;
  max-width: 5.5em !important;
}
.dashboard-table-info {
  overflow: hidden;
  text-overflow: ellipsis;
}
.dashboard-table-delete {
  width: 2em !important;
  max-width: 2em !important;
  padding: 0.2em !important;
  text-align: center !important;
  border-left: none !important;
  opacity: 0.4;
}
.dashboard-table-delete:hover {
  cursor: pointer;
  opacity: 1;
}
table.dashboard-table {
  margin-bottom: 0.55em !important;
}
table.dashboard-table input {
  padding: 0.4em !important;
}
.dashboard-viewer-category {
  max-width: 20vw !important;
  margin-top: 0.5em !important;
  margin-right: 0.5em !important;
}
.dashboard-content-icon {
  margin-top: -0.5em;
  opacity: 0.4;
}
.dashboard-content-icon:hover {
  cursor: pointer;
  opacity: 1;
}
.edit-input {
  padding: 0em 0.2em !important;
}
.dashboard-menu-label {
  margin-right: -1.5em !important;
  margin-top: -0.5em !important;
  padding-bottom: 20px !important;
  color: #fff !important;
  background-color: rgb(90, 90, 90) !important;
  z-index: 1;
  height: 2em;
}
.dashboard-viewer-img {
  width: 125px !important;
  height: 125px !important;
  filter: saturate(100%);
}
.dashboard-viewer-img:hover {
  opacity: 0.8;
  cursor: pointer;
}
.dashboard-viewer-img img {
  width: 125px !important;
  height: 125px !important;
  border-radius: 6px !important;
}
.dashboard-modal-body {
  width: 85% !important;
}
.dashboard-modal-img {
  width: 150px !important;
  height: 150px !important;
  filter: saturate(100%);
}
.dashboard-modal-img:hover {
  opacity: 0.8;
  cursor: pointer;
}
.dashboard-modal-img img {
  width: 150px !important;
  height: 150px !important;
  margin-top: 0.25em;
  border-radius: 6px !important;
}
.dashboard-modal-category {
  margin-bottom: 0.5em;
  width: 70% !important;
}
.dashboard-modal-category-select {
  margin-bottom: 0.5em;
  margin-right: 1%;
}
.dashboard-modal-name {
  margin-bottom: 0.5em;
  margin-right: 1%;
  width: 62% !important;
}
.dashboard-modal-price {
  margin-bottom: 0.5em;
  width: 37% !important;
}
.dashboard-modal-description {
  width: 100% !important;
  padding: 0.67857143em 1em;
}
.dashboard-data-progress {
  margin-top: 0.5em !important;
  margin-bottom: 0.5em !important;
  width: 94%;
  float: left;
}
.dashboard-booking-select {
  padding: 0.5em 0;
  margin-bottom: -15px !important;
  user-select: none;
}
.dashboard-booking-select img.ui.avatar.image {
  width: 2em !important;
}
.dashboard-booking-select a.ui.label {
  background-color: #fff;
  border: 1px solid rgba(34, 36, 38, 0.15);
}
.dashboard-booking-selected {
  background-color: #a391fb2f !important;
  color: #A291FB !important;
}
/* pc */
@media only screen and (min-width: 766px) {
  .dashboard-viewer {
    padding: 2em 2em !important;
  }
  .dashboard-viewer::-webkit-scrollbar {
    display: block !important;
    width: 4px;
  }
  .dashboard-viewer::-webkit-scrollbar-thumb {
    background-color: #dadada6d !important;
    border-radius: 10px;
  }
  .dashboard-viewer::-webkit-scrollbar-track {
    background-color: #ffffff00;
  }
  .dashboard-pc {
    height: 100%;
    left: 184px;
    position: absolute;
    transition: margin-left 0.5s;
  }
  .dashboard-pc:hover {
    opacity: 0.8;
  }
  .dashboard-pc i {
    margin-top: 40vh !important;
    margin-left: 2px !important;
  }
  .non-visible {
    margin-left: -184px !important;
    transition: margin-left 0.5s;
  }
}

/* sp */
@media only screen and (max-width: 767px) {
  .dashboard-main {
    margin: 1em 0vw;
  }
  .dashboard-menu {
    width: 100vw !important;
    max-width: none !important;
    min-height: 4vh !important;
  }
  .dashboard-viewer {
    width: 100vw !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
  .dashboard-viewer .form-interval {
    margin-top: 1.5em !important;
  }
  .dashboard-viewer-inline {
    padding: 0.5em 0em !important;
  }
  table.dashboard-table .edit-input {
    padding: 0em 0.2em !important;
  }
  .dashboard-table-career input {
    width: 4.5em !important;
    max-width: 4.5em !important;
  }
  table.dashboard-table input {
    padding: 0.4em 0.15em !important;
  }
  table.dashboard-table button {
    padding: 0.4em 0.15em !important;
  }
  .dashboard-table th.dashboard-table-no,td.dashboard-table-no {
    padding: 0.4em 0.15em !important;
    font-size: 0.9em !important;
  }
  .dashboard-table th.dashboard-table-name,td.dashboard-table-name {
    padding: 0.4em 0.15em !important;
    font-size: 0.9em !important;
  }
  .dashboard-table th.dashboard-table-career,td.dashboard-table-career {
    width: 5em !important;
    max-width: 5em !important;
    padding: 0.4em 0.15em !important;
    font-size: 0.9em !important;
  }
  .dashboard-table th.dashboard-table-info,td.dashboard-table-info {
    padding: 0.4em 0.3em !important;
    font-size: 0.9em !important;
  }
  .detailpage-modal-category {
    width: 39% !important;
  }
}

/* StylesPage */
.styles-main {
  margin-top: 49px;
  min-height: calc(100vh - 81px);
  border-top: #52525210 1px solid !important;
  padding-left: 25vw;
  padding-right: 25vw;
}
.styles-posts .ui.padded.segment {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border: 1px solid rgba(34, 36, 38, 0.15) !important;
  border-bottom: none !important;
  margin-top: 2.2rem ;
  margin-bottom: -2.2rem ;
  padding: 0;
}
.styles-posts div.label {
  background: none;
  padding: 0.5em !important;
  font-size: 1.5em;
  color: rgb(240, 240, 240);
  z-index: 1;
}
.styles-post {
  margin-bottom: -1em;
}
.styles-post:hover {
  cursor: pointer;
  opacity: 0.9;
  transition: opacity 0.2s;
}
.styles-post img {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  margin-left: auto;
  margin-right: auto;
  min-width: 20vw;
}
.styles-post-contents {
  padding: 1em;
  background-color: #fff;
  border: 1px solid rgba(34, 36, 38, 0.15);
  border-top: none;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}
.styles-post-contents p,b {
  display: block;
  white-space : nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.styles-post-writer {
  font-size: 0.8em;
  opacity: 0.5;
  padding-top: 1em;
}
.styles-content-final-empty {
  margin-bottom: 4vh !important;
}

@media only screen and (max-width: 767px) {
  .styles-main {
    padding-left: 0;
    padding-right: 0;
  }
  .styles-posts .ui.padded.segment {
    width: calc(100vw - 2em);
    margin-left: auto;
    margin-right: auto;
  }
  .styles-post img {
    width: calc(100vw - 2em);
    margin-left: auto;
    margin-right: auto;
  }
  .styles-posts div.label {
    margin-left: 0.7em !important;
  }
  .styles-post-contents .ui.container {
    margin-left: 0;
  }
}

/* EmptyPage */
.empty-main {
  margin-top: 49px;
  min-height: calc(100vh - 81px);
  border-top: #52525210 1px solid !important;
}
.empty-main-img {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20vh;
  width: 320px;
}
.empty-home-btn {
  margin-left: auto !important;
  margin-right: 10px !important;
  margin-top: 40px !important;
}
.empty-back-btn {
  margin-left: auto !important;
  margin-right: auto !important;
  margin-top: 40px !important;
}

/* MyPage */
.mypage-main {
  margin-top: 49px;
  min-height: calc(100vh - 81px);
  border-top: #52525210 1px solid !important;
}
.mypage-booking-date {
  position: absolute;
  background-color: #ffffff00 !important;
  color: #A291FB !important;
  padding: 1px !important;
  padding-right: 2px !important;
  padding-bottom: 2px !important;
  transform: translateY(-25%)
}
.mypage-booking-date-other {
  position: absolute;
  background-color: #ffffff00 !important;
  color: #a0a0a0 !important;
  padding: 1px !important;
  padding-right: 2px !important;
  padding-bottom: 2px !important;
  transform: translateY(-25%)
}
.mypage-msg {
  z-index: 10;
}
.mypage-msg:hover {
  cursor: pointer;
}
.mypage-user-mail {
  margin-left: 3px !important;
  margin-top: -2px !important;
}
.mypage-user-intro {
  margin-bottom: 20px;
}
.mypage-content-user {
  text-align: left;
  width: 67vw !important;
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 20px 0;
  border-bottom: rgb(0, 0, 0, 0.1) 2px solid;
}
.mypage-user-info {
  margin-top: 7px !important;
}
.mypage-table-btn1 {
 margin-right: 20px !important;
 cursor: pointer;
}
.mypage-table-btn1-disable{
  margin-right: 20px !important;
  color: rgb(0, 0, 0, 0.1);
 }
.mypage-table-btn2::before {
  margin-left: 20px !important;
  cursor: pointer;
}
.mypage-table-active:hover {
  cursor: pointer;
  font-weight: bold !important;
  color: #A291FB;
  background-color: rgba(161, 51, 204, 0.05);
  width: calc(100% / 7);
}
.table-today {
  background-color: rgba(161, 51, 204, 0.05);
  font-weight: bold;
  width: calc(100% / 7);
}
.table-other-month {
  background-color: rgb(125, 125, 125, 0.1);
  color: rgb(125, 125, 125, 0.15);
  width: calc(100% / 7);
}
.mypage-table-month {
  background-color: #fff !important;
  text-align: center !important;
  padding: 10px 0px !important;
}
.mypage-table-btn {
  margin-bottom: 14px !important;
}
.mypage-history {
  border: none !important;
  background-color: rgb(0, 0, 0, 0) !important;
}
.mypage-setting-icon {
  margin-right: 5px !important;
}
.mypage-user-icon {
  width: 115px;
  height: 110px;
  border-radius: 42%;
  border: 2px rgba(0, 0, 0, 0.4) solid;
  margin: 0 30px;
  filter: grayscale(0.25);
  z-index: 1000;
}
.mypage-user-icon:hover {
  cursor: pointer;
  opacity: 0.8;
}
.mypage-favorite-label {
  margin-top: 1em !important;
  margin-bottom: -0.5em !important;
}

.mypage-tt-icon {
  margin-left: -0.5em !important;
  margin-right: -0.5em !important;
  transform: translateY(-0.5em);
  opacity: 0.1 !important;
}
.mypage-tt-time {
  width: 160px !important;
  font-weight: bold;
  border-right: rgb(80, 80, 80, 0.1) 1px solid;
}
.mypage-tt-header {
  width: 160px !important;
  text-align: center !important;
  border-right: rgb(80, 80, 80, 0.1) 1px solid !important;
}
.mypage-content-table {
  width: 70vw !important;
  padding: 18px 25px 40px 25px;
  margin-bottom: 0px;
}
.mypage-menu {
  width: 348px;
  margin-top: -14px !important;
  margin-left: auto!important;
  margin-right: auto!important;
  border-bottom: none !important;
}
.mypage-menu .active.item {
  border-top: 2px #000 solid !important;
  border-bottom: 0px !important;
}
.mypage-menu .item {
  margin-top: 2px !important;
  border-bottom: 0px !important;
}
.mypage-tt-info {
  float: right;
  cursor: pointer;
}
.mypage-tt-info:hover {
  margin-right: 2px;
  opacity: 0.8;
  transition-duration: 0.3s;
}
.mypage-bottom {
  margin-top: 10px !important;
}
.mypage-favorite-card {
  margin-top: 1em !important;
}
.mypage-favorite-card:hover {
  opacity: 0.9;
}
.mypage-favorite-nodata {
  margin-left: auto !important;
  margin-right: auto !important;
  background-color: #fff !important;
  padding-top: 8em !important;
  padding-bottom: 8em !important;
}
.mypage-favorite-nodata-btn {
  margin-top: 1em !important;
}
.mypage-tt-nodata {
  background-color: #fff !important;
}

/* pc */
@media only screen and (min-width: 766px) {
  .mypage-msg {
    width: 70vw !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }
}

/* sp */
@media only screen and (max-width: 767px) {
  .ui.container.mypage-content-user {
    margin-top: 20px;
    margin-left: 5px !important;
    margin-right: 5px !important;
    padding: 7px 0;
  }
  .ui.container.mypage-content-table {
    margin-left: 5px !important;
    margin-right: 5px !important;
    padding: 17px 0px 40px 0px;
  }
  .mypage-table-extra {
    padding: 5px !important;
  }
  .mypage-user-info {
    margin-top: 7px !important;
    margin-bottom: 5px !important;
    margin-left: 14px !important;
    margin-right: 14px !important;
  }
  .mypage-user-icon {
    margin-left: auto;
    margin-right: auto;
  }
  .mypage-tt-time {
    width: 80px !important;
  }
  .mypage-tt-header {
    width: 80px !important;
  }
  .mypage-menu {
    width: 171px;
  }
  .mypage-menu-sp {
    display: none;
  }
  .mypage-icon-sp {
    margin: 0px !important;
  }
  .mypage-setting-icon {
    margin-right: -14px !important;
  }
}

/* HomePage */
.home-main {
  background-position: center center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.8)),url('./img/home.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom-left-radius: 48px;
  border-bottom-right-radius: 48px;
  display: block;
  color: #fff;
  min-height: 105vh;
  filter: saturate(100%);
  padding-top: 36vh;
  padding-bottom: 2vh;
  margin-top: 0px;
  margin-bottom: -5vh;
  position: relative;
}

.home-main-title-top {
  font-size: 1.1em;
  margin-bottom: 0em;
  color: #A291FB;
  letter-spacing: 0.4em;
}
.home-main-title {
  font-size: 3em;
  margin-bottom: -0.2em;
}
.home-main-title-bottom {
  font-size: 2em;
  margin-bottom: 0.6em;
}
.home-main-search {
  text-align: left;
  border: #fff 2px solid !important;
  color: #fff !important;
  font-size: 1.2em !important;
  border-radius: 30px;
  width: 40vw;
}
.home-main-search input {
  background-color: rgba(0, 0, 0, 0) !important;
  color: #fff !important;
  border-radius: 30px !important;
}
.home-main-search input::placeholder {
  color: rgba(255, 255, 255, 0.5) !important;
}

.home-main-search i {
  opacity: 1 !important;
}

.home-quick-menu {
  display: flex;
  overflow-x: scroll;
}

.home-quick-menu::-webkit-scrollbar {
  display: none;
}

.home-quick {
  margin-top: 0px !important;
  margin-left: 0.5em !important;
  margin-right: 0.5em !important;
  padding: 0 !important;
  width: 350px;
  height: 12.5vh;
  cursor: pointer;
}

.home-quick:hover {
  transition:.3s;
  color: rgb(0, 153, 255);
}

.home-quick-name {
  font-weight: bold;
}

.ui.segment {
  border: none !important;
  box-shadow: none !important;
}

.home-content-intro {
  text-align: left;
  min-height: 270px;
}

.home-content-main {
  margin-top: 12px !important;
  margin-bottom: 12px !important;
  background-color: rgb(255, 255, 255);
  border: rgb(220, 220, 220, 0.7) solid 1px;
  border-radius: 12px;
  z-index: 500 !important;
  position: inherit;
  padding: 1em 0 !important;
}

/* pc */
.content1 {
  padding: 0.5em 1em !important;
  height: 14.5vh !important;
}
.content1-title {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 0.25em;
  text-align: left;
}
.content1-subtitle {
  font-size: 1em;
  margin-left: 0.5em;
  margin-bottom: 0;
  text-align: left;
}
.content1-left {
  align-self: center;
  width: 80%;
}
.content1-right {
  align-self: center;
  margin-right: 0;
  margin-left: auto;
}

.content2 {
  padding: 0.5em 0.5em !important;
  height: 14.5vh;
}
.content2-quick img {
  margin-left: -0.5em;
  margin-right: 1em;
  border-radius: 0.5em;
  width: 290px;
  height: 12.5vh;
  border:#fff solid 1px;
  background-position: center;
	transition: .3s ease-in-out;
  border-radius: 12px;
}
.content2-quick img:hover {
  cursor: pointer;
  filter: opacity(.9);
  transition: all 0.2s linear;
  transform: scale(1.02);
}

.content4 {
  text-align: left;
  margin-bottom: 1rem !important;
}
.content4-right {
  min-width: 50vw !important;
  margin-top: 10px;
  float: right;
}
.content4-right p {
  margin-left: 2em;
}

/* sp */
@media only screen and (max-width: 767px) {
  .home-main-search {
    width: 84vw;
  }
  .home-content-intro { 
    text-align: center;
    height: 36vh;
    padding: 1em 0px !important;
  }

  .content1 {
    padding: 0.5em 2em !important;
    height: 20vh !important;
  }
  .content1-left {
    align-self: center;
    width: 100%;
    padding-left: 0 !important;
  }
  .content1-right {
    margin-right: auto;
    margin-left: auto;
    padding-right: 0 !important;
  }
  .content4-right {
    width: 100% !important;
  }
}

/* pc */
@media only screen and (min-width: 766px) {
  .home-content-intro { 
    height: 73.5vh;
    padding: 20vh 0px !important;
    padding-left: 50px !important;
  }
  .home-content-intro-title {
    font-size: 35px;
  }
  .home-content-intro-inline {
    font-size: 18px;
    padding-bottom: 20px;
  }
}

/* BookingPage */
.booking-main {
  margin-top: 49px;
  min-height: calc(100vh - 81px);
  border-top: #52525210 1px solid !important;
}
.booking-main-category {
  height: 8vh;
  width: 50vw;
  padding-top: 1.4vh;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
}
.category-active {
  opacity: 1;
}
.category-non-active {
  opacity: 0.25;
}
.category-non-active:hover {
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.2s;
}
.booking-nodata {
  margin-top: 4vh !important;
}
.booking-table {
  width: 92% !important;
  margin-left: auto !important;
  margin-right: auto !important;
  margin-top: calc(1em - 6px) !important;
  margin-bottom: 1em !important;
}
.shopmodal-search {
  margin-top: 0.6em;
  width: 50vw;
  margin-left: auto;
  margin-right: auto;
}
.shopmodal-search input {
  width: 50vw !important;
  border-radius: 20px !important;
}
.shopmodal-main {
  margin: 5px 25vw;
}
.shopmodal-main h4 {
  margin-top: 14px !important;
  margin-left: 1em;
  margin-bottom: 0.5em;
}
.shopmodal-shops button {
  background-size:cover;
  text-align: left;
  border: 0px;
  color: #fff;
  width: 300px; 
  height: 200px; 
  padding: 10px;
  margin: 5px;
  font-weight: bold;
  border-radius: 10px;
  background-size: 105%;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
.shopmodal-shops button:hover {
  position: relative; 
  cursor: pointer;
  opacity: 0.9;
  transition: .3s ease-in-out;
  animation: zoomout 5s linear;
  box-shadow: 3px 3px 6px rgb(0,0,0,0.5);
}
.shopmodal-name {
  font-size: 1.4em;
  margin-top: 140px;
}
.detailpage-review {
  float: right;
  margin-left: 6px;
}
.shopmodal-rating {
  margin-top: -1.2em;
  float: right;
}
.shopmodal-location {
  width: 80%;
  font-weight: normal;
  font-size: 0.9em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 6px;
  margin-top: 4px;
}
.shopmodal-pick-group {
  text-align: left;
  margin-left: 14px;
}
.shopmodal-pick {
  margin-top: 0.5em !important;
  border-radius: 2em !important;
  font-size: 0.9em !important;
}
.shopmodal-pagination {
  margin-bottom: 35px !important;
  border-bottom: none !important;
}
.shopmodal-pagination .item {
  color: rgba(0, 0, 0, 0.8) !important;
  border-bottom: none !important;
  opacity: 0.8;
}
.shopmodal-pagination .item:hover {
  opacity: 1;
}
.shopmodal-pagination .active.item {
  color: rgba(0, 0, 0) !important;
}

/* booking page */
.booking-btn {
  margin-top: 14px !important;
  margin-bottom: 28px !important;
  margin-right: 0px !important;
  width: 96% !important;
  max-width: 360px !important;
}
.booking-modal {
  max-width: 420px;
  top: 74px;
  padding-bottom: 14px !important;
}
.booking-modal h3 {
  margin-top: 5px;
  margin-left: 10px;
}
.booking-modal h4 {
  color: rgb(0, 0, 0, 0.7);
  margin-top: 14px;
  margin-bottom: 0px;
}
.booking-modal-bar {
  border: 2px solid #000;
  background-color: #000;
  height: 3px;
  margin-top: -14px;
  margin-bottom: 14px;
  border-radius: 14px;
}
.booking-modal-title {
  text-align: center;
  font-size: 1.8em;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 14px;
  width: 160px;
}
.booking-modal-shopimg {
  width: 100%;
  max-height: 210px;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
}
.booking-modal-order {
  font-weight: 100;
}
.booking-modal-order-num {
  float: right;
  margin-top: -0.05em;
  font-size: 1.2em;
  font-weight: bold;
}
.booking-modal-price {
  font-size: 1.6em;
}
.booking-modal-price-total {
  font-size: 0.5em;
  margin-right: 5px;
  color: rgb(0, 0, 0, 0.3);
}
.booking-modal-bottom {
  text-align: center !important;
  color: rgb(0, 0, 0, 0.3);
  font-weight: bold;
  margin-top: -4px;
  margin-bottom: -4px;
  font-size: 1em;
}
.booking-modal-bottom button {
  width: 60%;
  border: solid rgb(50, 67, 216, 0.6) 2px !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
}
.booking-modal-detail ol {
  margin-top: 0px;
  margin-bottom: 21px;
  padding-left: 0px;
}
.booking-modal-detail li {
  list-style: none !important;
  text-align: left;
  font-size: 14px;
  margin-bottom: 5px;
  padding: 10px 15px;
  border-radius: 10px;
  border: #000 solid 1px;
}
.booking-modal-total {
  text-align: right;
  padding: 20px 14px;
  font-weight: bold;
  font-size: 1.3em;
  border-top: rgb(125, 125, 125, 0.15) 1px solid;
}

/* sp */
@media only screen and (max-width: 767px){
  .detailpage {
    padding: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .shopmodal-shops button{
    width: 96vw;
  }
  .shopmodal-main {
    width: 100vw;
    margin-left: auto;
    margin-right: auto;
  }
  .bookingpage.ui.basic.segment{
    padding-left: 0px;
  }
  .booking-main-category {
    width: 98vw;
  }
  .shopmodal-search {
    margin-top: 0;
    width: 96vw;
  }
  .shopmodal-search input{
    width: 96vw;
  }
  .booking-modal-shopname {
    margin-top: -46px;
  }
  .ui.modal .content>.image.booking-modal-shopimg {
    padding-bottom: 0px !important;
  }
}

.react-datepicker__input-container input{
  text-align: center;
  width: 120px;
  height: 30px;
  font-size: large;
}
.hairStyleMenu {
 display: grid;
 place-content: center;
}
.dateTime button{
  margin-bottom: 3px !important;
}
.hairStyleMenu button{
  margin-bottom: 3px !important;
}
.ui.primary.button, .ui.primary.buttons .button{
  background-color: rgb(0, 153, 255) !important;
}
.react-datepicker__day--selected, .react-datepicker__day--in-selecting-range, .react-datepicker__day--in-range, .react-datepicker__month-text--selected, .react-datepicker__month-text--in-selecting-range, .react-datepicker__month-text--in-range, .react-datepicker__quarter-text--selected, .react-datepicker__quarter-text--in-selecting-range, .react-datepicker__quarter-text--in-range, .react-datepicker__year-text--selected, .react-datepicker__year-text--in-selecting-range, .react-datepicker__year-text--in-range {
  border-radius: 0.3rem;
  background-color: rgb(0, 153, 255);
  color: #fff;
}

/* detailpage */
.detail-main {
  margin-top: 49px;
  min-height: calc(100vh - 81px);
  border-top: #52525210 1px solid !important;
}
.detail-content {
  margin-bottom: 14px;
  border-radius: 12px;
  box-shadow: 1px 1px 14px rgba(157, 157, 157, 0.5); 
  margin-left: auto;
  margin-right: auto;
  max-width: 720px;
  padding: 0.1vw 1vw;
}
.slick-list {
  border-radius: 12px;
}
.slick-dots {
  bottom: 0 !important;
  border-radius: 12px;
}
.detailpage-icon-menu {
  padding: 0 14px !important;
  margin-top: -14px !important;
  margin-bottom: 0px !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
}
.slick-list {
  z-index: unset !important;
  max-height: 46vh;
}
.slick-prev:before, .slick-next:before {
  color: #fff !important;
  font-family: unset !important;
  font-size: 2em !important;
  opacity: 0.25;
}
.slick-prev, .slick-next {
  top: 49% !important;
  z-index: 100;
}
.slick-prev:before {
  margin-right: -55px;
}
.slick-next:before {
  margin-left: -47px;
}
.detailpage-holiday {
  margin-left: 4px;
  opacity: 0.6;
}
.detailpage-icon {
  margin-left: 4px;
  color: #000;
  opacity: 0.6;
}
.detailpage-icon:hover {
  cursor: pointer;
  color: #000;
  opacity: 1;
}
.detailpage-main-image {
  padding: 0px !important;
  margin-top: 24px !important;
  margin-bottom: 0px !important;
  margin-left: auto !important;
  margin-right: auto !important;
}
.detailpage-main-image img {
  width: 100%;
  min-height: 46vh;
  max-height: 46vh;
  background-position: center !important;
  object-fit: cover;
  border-radius: 12px;
}
.segment.detailpage-main {
  display: flow-root;
  height: auto;
  text-align: left;
  margin-top: 0px !important;
  padding-top: 1.5em !important;
  padding-bottom: 1.5em !important;
  padding-left: 8px !important;
  padding-right: 8px !important;
  border-radius: 0px !important;
  border-bottom: rgb(0, 0, 0, 0.1) 1px solid !important;
}
.detailpage-main .detailpage-time i,.detailpage-info i, .detailpage-location i {
  margin-right: 0.6em !important;
}
.detailpage-link-btn {
  margin-right: 0px !important;
}
.detailpage-name {
  font-weight: bold;
  font-size: 1.4em;
  margin-bottom: 0.5em;
}
.detailpage-time {
  margin: 6px;
}
.detailpage-call a {
  margin: 5px;
  color: #A291FB;
  opacity: 0.3;
}
.detailpage-call:hover a {
  color: #A291FB;
  opacity: 1;
}
.detailpage-location {
  margin: 6px;
}
.detailpage-location-empty {
  margin-top: 1.2em;
  color: rgba(90, 90, 90, 0.8);
  text-align: center;
}
.detailpage-info {
  margin: 6px;
}
a.detailpage-tel {
  color: #000;
}
a.detailpage-tel:hover {
  color: rgb(0, 0, 0, 0.9);
}
.detailpage-service-header {
  padding: 7px !important;
  margin-top: 7px !important;
}
.detailpage-service-header div.content {
  padding-left: 3px !important;
}
.detailpage-service-num {
  vertical-align: middle;
  display: inline-block;
  position: absolute;
  padding: 5px 0px;
  margin-top: -35px;
  margin-left: -10%;
  width: 20%;
  font-weight: bold;
}
.detailpage-service-minus {
  cursor: pointer;
  margin-right: 5px !important;
  opacity: 0.6 !important;
}
.detailpage-service-plus {
  cursor: pointer;
  margin-left: 5px !important;
  opacity: 0.6 !important;
}
.detailpage-service-plus:hover, .detailpage-service-minus:hover {
  transition:.3s;
  opacity: 1 !important;
}
.detailpage-service-margin {
  margin-bottom: 11px;
}
.detailpage-selected {
  border: #A291FB 1px solid !important;
  background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(216, 178, 225, 0.1)) !important;
}
.detailpage-service-menu {
  padding: 12px 6px !important;
  border: 1px lightgray solid;
  border-radius: 6px;
}
.detailpage-service-menu div.meta {
  margin-top: 3px !important;
}
.detailpage-service-menu div.description {
  margin-left: 6px;
}
.detailpage-service-customers {
  margin-left: auto !important;
  margin-right: auto !important;
  margin-top: calc(1em - 6px) !important;
}
.detailpage-service-customers button {
  width: 24% !important;
  height: 58px !important;
  margin: 0px 2px !important;
  border: lightgray solid 1px !important;
  margin-bottom: 1em !important;
}
.detailpage-service-menu.ui.items {
  margin: 5px 5px;
}
.detailpage-service-menu.ui.items:last-child {
  margin-bottom: 5px !important;
}
.detailpage-service {
  text-align: left;
}
.detailpage-service div.content {
  margin-top: 10px !important;
}
.detailpage-service-menu:hover {
  cursor: pointer;
  background-color: rgb(200, 200, 200, 0.1) !important;
  opacity: 0.8;
}
.detailpage-service-img {
  width: 125px !important;
  height: 125px !important;
  filter: saturate(100%);
}
.detailpage-service-img img {
  width: 125px !important;
  height: 125px !important;
  border-radius: 6px !important;
}
.detailpage-msg {
  margin-top: -6px;
  padding: 20px 0px;
  color: rgba(90, 90, 90, 0.8);
}
.detailpage-menu-btn .chevron.right {
  margin-left: -2px !important;
  margin-right: 4px !important;
}
.detailpage-menu-btn button {
  width: 100%;
  background-color: #fff !important;
}
.detailpage-comment {
  float: right;
  margin-top: 8px !important;
  margin-right: 0px !important;
}
.detailpage-coupon-list {
  margin-top: 5px !important;
  margin-bottom: 0px !important;
  padding-left: 1em;
  padding-right: 1em;
}
.detailpage-coupon-list a {
  margin-top: 0px !important;
}
.coupon-checked {
  color: #dc73ff !important;
}
.ui.button.detailpage-menu-btn-sub {
  text-align: left;
  border-style: solid;
  border-width: 1px;
  border-color: lightgray ;
  margin-bottom: 6px;
  margin-right: 0px;
  padding: 12px;
}
.ui.button.detailpage-menu-btn-bg {
  text-align: left;
  border-style: solid;
  border-width: 1px;
  border-color: lightgray ;
  margin-bottom: 6px;
  margin-right: 0px;
  color: black;
  font-weight: bold;
  padding: 12px;
}
.ui.button.timetable-btn {
  border-style: solid;
  width: 100px;
  border-width: 1px;
  border-color: lightgray ;
  margin: 2px;
}
.timetable-btn-area {
  text-align: left;
  margin: 0.5em 2em;
}
.timetable-btn-area p {
  text-align: left;
  font-weight: bold;
  font-size: 1.2em;
  margin-left: -20px;
  margin-bottom: 8px;
}
/* pc */
@media only screen and (min-width: 766px) {
  .ui.tiny.detailpage-sub-image img {
    width: 120px !important;
  }
  .detailpage-sub-image {
    margin-top: -100px !important;
  }
}
/* sp */
@media only screen and (max-width: 767px){
  .detailpage-menu-btn button {
    width: 96%;
  }
  .timetable-btn-area {
    text-align: center;
  }
}

/* review */
.reviewpage {
  padding-left: 25vw;
  padding-right: 25vw;
  min-height: calc(100vh - 81px);
}
.review-tab-icon:hover {
  cursor: pointer;
  opacity: 0.8;
}
.review-tab-label:hover {
  cursor: pointer;
}
.review-info {
  margin-top: -14px !important;
  margin-bottom: 28px !important;
  border-radius: 0px 0px 14px 14px !important;
  background-color: #A291FB !important;
}
.review-comment-area {
  text-align: left;
  margin: 0px 1.5vw !important;
  max-width: none !important;
}
.review-write-area {
  text-align: left !important;
  margin-top: 1em;
  padding: 1em;
  border-top: rgb(0, 0, 0, 0.2) 1px solid;
}
.review-write-area textarea {
  min-height: 18vh;
  margin: 0px !important;
}
.review-no-comment {
  margin: 10vw 0;
  opacity: 0.4;
}
.review-comment-label {
  margin-left: 0.5em !important;
  margin-bottom: -1em !important;
  opacity: 0.2;
}
.review-comment-label-setting {
  background-color: rgb(0, 0, 0, 0) !important;
  width: 3em !important;
  opacity: 0.4;
  cursor: pointer;
}
.review-comment-label-setting:hover {
  opacity: 1;
}
.review-comment-text {
  margin: 0.5em !important;
}
.review-comment-length {
  float: right;
  color: rgb(0, 0, 0, 0.2);
  margin-top: -0.5em !important;
  margin-bottom: 0px !important;
}
.review-rating {
  margin-bottom: 1em;
}
.review-submit-btn {
  text-align: center;
}
.reply-style-top {
  padding-top: 0.5em;
}
.reply-style-outline {
  padding: 0em 0em 0em 0.5em !important;
  margin-top: 0.7em !important;
  margin-bottom: 0.3em !important;
  max-width: none !important;
}
.review-style {
  padding: 0.8em 1em !important;
  margin: 0.4em !important;
  min-width: 30vw;
  white-space: pre-line;
  border: rgb(0, 0, 0, 0.1) 1px solid !important;
  border-radius: 0.8em;
}
.review-style-deleted {
  padding: 0.5em 0.8em !important;
  margin: 0.4em !important;
  border: rgb(0, 0, 0, 0.1) 1px solid !important;
  background-color: rgb(0, 0, 0, 0.03)!important;
  color: rgb(0, 0, 0, 0.5);
  border-radius: 0.8em;
  min-width: 30vw;
}
.reply-style {
  padding: 0.8em 1em !important;
  margin-right: 0.2em !important;
  margin-left: 1.4em !important;
  border-left: rgb(0, 0, 0, 0.1) 1px dotted !important;
  min-width: 28vw;
  white-space: pre-line;
}
.review-style-replyview {
  padding-top: 0.4em !important;
  padding-bottom: 0.5em !important;
  padding-left: 1em !important;
  padding-right: 1em !important;
  margin-bottom: -0.45em !important;
  border: rgb(0, 0, 0, 0.1) 1px solid !important;
  border-bottom: rgb(0, 0, 0, 0.1) 0.3em solid !important;
  background-color: rgb(0, 0, 0, 0.03)!important;
  border-radius: 1em;
  white-space: pre-line;
}
.review-style-replyview p {
  margin-left: 0.5em;
}

/* HelpPage */
.help-main {
  margin-top: 49px;
  min-height: calc(100vh - 81px);
  border-top: #52525210 1px solid !important;
}
.help-form {
  margin-top: 26vh !important;
}

/* ContactPage */
.contact-main {
  margin-top: 49px;
  min-height: calc(100vh - 81px);
  border-top: #52525210 1px solid !important;
  padding-left: 30vw;
  padding-right: 30vw;
  text-align: left;
}
.contact-main textarea {
  min-height: 180px;
  max-height: 340px;
}
.contact-title {
  margin-top: 1em !important;
  margin-bottom: 1.5em !important;
}
.contact-submit {
  margin-top: 2.5em !important;
  margin-bottom: 2em !important;
  text-align: center;
}
.contact-submit button {
  margin-top: 1em !important;
}

/* sp */
@media only screen and (max-width: 767px){
  .contact-main {
    padding-left: 0;
    padding-right: 0;
  }
}

/* IphoneX */
@import url('https://fonts.googleapis.com/css?family=Roboto:500&display=swap');

.iphonex-signup {
  margin-top: -70px !important;
  margin-bottom: -40px !important;
}

.iphonex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  margin: 0;
}

.iphonex {
  height: 500px;
  width: 240px;
  position: relative;
}

.iphonex__case {
  position: absolute;
  background: transparent;
  width: 235px;
  height: 475px;
  border: 11px solid black;
  box-sizing: border-box;
  border-radius: 35px;
  box-shadow: 8px 5px 5px rgb(200, 200,200, 0.8);
  left: 3px;
}

.iphonex__top {
  position: absolute;
  background: transparent;
  height: 15px;
  width: 208px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.iphonex__time {
  position: absolute;
  top: 0px;
  left: 16px;
  font-size: 10px;
  font-weight: bold;
  font-family: 'Roboto' !important;
}

.iphonex__battery {
  position: absolute;
  font-size: 11px !important;
  right: 5px;
  top: 0px;
}

.iphone-screen-img {
  width: 212px;
  height: 436px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  position: absolute;
}

.iphonex__notch {
  background: black;
  height: 15px;
  width: 115px;
  position: absolute;
  left: 48px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.iphonex__speaker {
  background: rgb(51, 51, 51);
  width: 30px;
  height: 6px;
  border-radius: 8px;
  position: absolute;
  left: 43px;
}

.iphonex__camera {
  background: rgb(51, 51, 51);
  width: 7px;
  height: 7px;
  border-radius: 8px;
  position: absolute;
  left: 80px;
}

.iphonex__screen {
  width: 212px;
  height: 436px;
  left: 0.5px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  top: 18px;
  position: absolute;
}

.iphonex__power {
  width: 3px;
  height: 19px;
  background: rgb(204, 204, 204);
  position: absolute;
  left: 0;
  top: 62px;
}
.iphonex__volume {
  width: 3px;
  height: 32px;
  background: rgb(204, 204, 204);
  position: absolute;
  left: 0px;
  top: 98px;
}
.iphonex__volume--down {
  top: 142px;
}

/* SearchPage */
.search-main {
  margin-top: 49px;
  min-height: calc(100vh - 81px);
  border-top: #52525210 1px solid !important;
}
.search-del {
  pointer-events: auto !important;
  left: auto !important;
  right: 0 !important;
}
.search-non-data {
  margin-left: 5px;
}
.search-del:hover {
  cursor: pointer !important;
}
.search-btn {
  pointer-events: auto !important;
}
.search-btn:hover {
  cursor: pointer !important;
}
.search-result {
  width: 50vw !important;
  margin-left: auto;
  margin-right: auto;
}
.search-recommend button:hover {
  position: relative; 
  cursor: pointer;
  opacity: 0.9;
  transition: .3s ease-in-out;
  animation: zoomout 5s linear;
  box-shadow: 3px 3px 6px rgb(0,0,0,0.5);
}
.search-recommend {
  margin-top: 14px;
  margin-left: 1.5em;
  text-align: left;
}
.search-recommend h4 {
  margin-left: -0.5em;
  margin-bottom: calc(1em - 5px);
  text-align: left;
}
.search-recent-group {
  display: flex;
}
.search-recent-del {
  margin-left: 5px !important;
  margin-top: 2px !important;
}
.search-recent-del:hover {
  cursor: pointer;
  opacity: 0.6;
}
.search-recent-label:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.05) !important;
}
.search-recent {
  margin-top: 14px;
  margin-left: 1.5em;
  text-align: left;
}
.search-recent h4 {
  margin-left: -0.5em;
  margin-bottom: calc(1em - 2px);;
  text-align: left;
}
.search-recent div.ui.label {
  margin: 2px !important;
}
.search-recommend button {
  background-size:cover;
  text-align: left;
  border: 0px;
  color: #fff;
  width: 290px; 
  height: 200px; 
  padding: 10px;
  margin: 5px;
  font-weight: bold;
  border-radius: 10px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
.search-recommend button:hover {
  position: relative; 
  opacity: 0.9;
  box-shadow: 3px 3px 3px rgb(0,0,0,0.5); 
}
.search-msg {
  margin-bottom: -69.188px !important;
}
/* sp */
@media only screen and (max-width: 767px){
  .search-back {
    left: 87vw !important;
  }
  input.search-input {
    width: 96vw !important;
  }
  .search-result {
    width: 96vw !important;
  }
  .search-recent {
    margin-left: 0;
  }
  .search-recent h4 {
    margin-left: 0.5em;
  }
  .search-recommend {
    margin-left: 0;
  }
  .search-recommend h4 {
    margin-left: 0.5em;
  }
  .search-recommend button {
    width: 93.5vw;
  }
}

/* WikiPage */
.wiki {
  margin-top: 49px;
  min-height: calc(100vh - 81px);
  border-top: #52525210 1px solid !important;
  text-align: left;
  padding-left: 20vw;
  padding-right: 20vw;
  padding-top: 20px;
}
@media only screen and (max-width: 767px) {
  .wiki {
    padding-left: 0;
    padding-right: 0;
  }
}
.wiki-header {
  font-size: 20px;
  padding-top: 24px;
  padding-bottom: 15px;
}
.wiki-content {
  font-size: 17px;
  padding-left: 26px;
  padding-bottom: 24px;
}
.code {
  margin-top: 10px;
  background-color: rgb(54, 54, 54);
  border-radius: 10px;
  padding: 10px;
  max-width: 600px;
}

/* .loader {
  animation: rotate 1s infinite;  
  height: 50px;
  width: 50px;
  margin-left: auto;
  margin-right: auto;
}

.loader:before,
.loader:after {   
  border-radius: 50%;
  content: '';
  display: block;
  height: 20px;  
  width: 20px;
}
.loader:before {
  animation: ball1 1s infinite;  
  background-color: #6720cb;
  box-shadow: 30px 0 0 #f8b334;
  margin-bottom: 10px;
}
.loader:after {
  animation: ball2 1s infinite; 
  background-color: #8041b3;
  box-shadow: 30px 0 0 #0d95bf;
}

@keyframes rotate {
  0% { 
    -webkit-transform: rotate(0deg) scale(0.8); 
    -moz-transform: rotate(0deg) scale(0.8);
  }
  50% { 
    -webkit-transform: rotate(360deg) scale(1.2); 
    -moz-transform: rotate(360deg) scale(1.2);
  }
  100% { 
    -webkit-transform: rotate(720deg) scale(0.8); 
    -moz-transform: rotate(720deg) scale(0.8);
  }
}

@keyframes ball1 {
  0% {
    box-shadow: 30px 0 0 #f8b334;
  }
  50% {
    box-shadow: 0 0 0 #f8b334;
    margin-bottom: 0;
    -webkit-transform: translate(15px,15px);
    -moz-transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 #f8b334;
    margin-bottom: 10px;
  }
}

@keyframes ball2 {
  0% {
    box-shadow: 30px 0 0 #0d95bf;
  }
  50% {
    box-shadow: 0 0 0 #0d95bf;
    margin-top: -20px;
    -webkit-transform: translate(15px,15px);
    -moz-transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 #0d95bf;
    margin-top: 0;
  }
} */